<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>571411107341-bg1q3imkje3ohheq1r1v865e3suvceiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571411107341-bg1q3imkje3ohheq1r1v865e3suvceiq</string>
	<key>API_KEY</key>
	<string>AIzaSyCrc9y3CcPmSHlNWCIrGbL_wvj4CR-lsC4</string>
	<key>GCM_SENDER_ID</key>
	<string>571411107341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs4261.firstapp</string>
	<key>PROJECT_ID</key>
	<string>fir-app1-63c53</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app1-63c53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571411107341:ios:7108cba62d75d5aa</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app1-63c53.firebaseio.com</string>
</dict>
</plist>